AddDefaultCharset utf-8

php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value max_input_time 600
php_value max_execution_time 600
#php_value memory_limit 100M

php_flag magic_quotes_gpc off
php_flag register_globals off

RewriteEngine on
RewriteBase /
RewriteRule \.(js|jsb|ico|gif|jpg|png|css|pdf|htm|xml|lpk|cab|txt|swf)$ - [L,NC]
RewriteRule ^setup - [L,NC]
RewriteRule ^files - [L,NC]
RewriteRule ^workspace - [L,NC]
RewriteRule ^phpinfo.php - [L,NC]
# Hide .SVN Folders
RewriteRule ^(.*/)*\.svn/ / [F,L]
RewriteRule .* index.php