@CHARSET "UTF-8";

body, .xlib-wallpaper {
    background: url("/images/body-bg.png") repeat-x scroll 0 0 #B3BBCF;
}
.xlib-bkg .xlib-bkg-body {
    background: transparent;
}

#bg-left {
    background: url("/images/top-bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 229px;
    left: 0;
    position: absolute;
    top: 0;
    width: 361px;
    z-index: 0;
}

#bg-bottom {
    background: url("/images/bottom-bg.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 222px;
    left: 0;
    position: absolute;
    width: 530px;
    z-index: 99999999;
}

.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom: 10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}