@CHARSET "UTF-8";

.xlib-bkg .xlib-bkg-body {
    background: transparent;
}

body#login-page {
    background: transparent;
}

#login-page #main-content {
    display: block;
    position: absolute;
    z-index: 999;
    width: 98%;
    height: 98%;
    overflow: auto;
}

#login-table-layout {
    height: 550px;
    width: 800px;
    position: absolute;
    margin: -275px -400px;
    left: 50%;
    top: 50%;
}

#bg-top {
    background: url("/images/body-bg-top.png") repeat-x scroll 0 0;
	position: absolute;
	height: 365px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

#bg-bottom {
    background: url("/images/body-bg-bottom.png") repeat-x scroll 0 0;
    position: absolute;
    height: 365px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#bg-tl {
    background: url("/images/bg-tl.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 463px;
    height: 287px;
    color: #f00; 
    text-align: left;
}

#bg-bl {
    background: url("/images/bg-bl.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 497px;
    height: 255px;
}

#bg-tr {
    background: url("/images/bg-tr.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 251px;
    height: 363px;
    color: #f00; 
    text-align: right;
}

#bg-br {
    background: url("/images/bg-br.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 251px;
    height: 126px;
}

#login-page {
    font-family: sans-serif;
    font-size: small;
}

.x-border-top {
    border-top: 1px solid #99BBE8 !important;
}

.x-border-bottom {
    border-bottom: 1px solid #99BBE8 !important;
}

.x-border-left {
    border-left: 1px solid #99BBE8 !important;
}

.x-border-right {
    border-right: 1px solid #99BBE8 !important;
}

.x-portal-body {
    padding: 0 0 0 8px;
    border: none;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom: 10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
.x-grid-checkheader {
    height: 14px;
    background-image: url('/images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('/images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

/*
 * GridFilters Styles
 */

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(../images/find.png) !important;
}

/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    margin-top: 0;
}

.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
} 

/*
 * Forecast style
 */

.forecast-day-block {
    display: inline-table;
    width: 200px;
    overflow: hidden;
    margin: 10px 3px 5px 3px;
}

.forecast-day-block-header {
	text-align: left;
    padding: 5px;
    color: white;
    background-color: rgb(4, 55, 102);
}

.forecast-daypart-block {
    display: inline-table;
    position: relative;
    width: 50px;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 3px 0;
}

.forecast-daypart-night {
	background-color: rgb(150, 173, 185);
}

.forecast-daypart-morning {
	background-color: rgb(153, 212, 245);
}

.forecast-daypart-day {
	background-color: rgb(248, 251, 252);
}

.forecast-daypart-evening {
	background-color: rgb(224, 217, 217);
}


/*
* СООБЩЕНИЯ ПОЛЬЗОВАТЕЛЯ
*/

/* непрочитанные сообщения */
.curUserMessagesGrid td{
    vertical-align: middle !important;
}
.curUserMessagesGrid td.x-grid-cell-first{
    vertical-align: top !important;
}

.curUserMessagesGrid .icon-reply{
    margin-right: 15px;
}
.curUserMessage_new td{
    /*border-left: 5px green !important;*/
    /*background-color: rgb(216, 239, 255) !important;*/
}

.top-panel-messages-number {

    padding: 2px 5px;
    text-align: center;
    top: 0;
    left: -8px;
    position: absolute;
    background-color: #ff0511;
    border: 1px solid #ffffff;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-box-shadow: 0px 0px 6px #300101;
    -webkit-box-shadow: 0px 0px 6px #300101;
    box-shadow: 0px 0px 6px #300101;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0303', endColorstr = '#630000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0303', endColorstr = '#630000')";
    background-image: -moz-linear-gradient(top, #ff0303, #630000);
    background-image: -ms-linear-gradient(top, #ff0303, #630000);
    background-image: -o-linear-gradient(top, #ff0303, #630000);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ff0303), to(#630000));
    background-image: -webkit-linear-gradient(top, #ff0303, #630000);
    background-image: linear-gradient(top, #ff0303, #630000);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 9px;
}