@CHARSET "UTF-8";

.xlib-bkg .xlib-bkg-body {
    background: transparent;
}

body#login-page {
    background: transparent;
}

#login-page #main-content {
    display: block;
    position: absolute;
    z-index: 999;
    width: 98%;
    height: 98%;
    overflow: auto;
}

#bg-top {
    background: url("/images/body-bg-top.png") repeat-x scroll 0 0;
	position: absolute;
	height: 365px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}

#bg-bottom {
    background: url("/images/body-bg-bottom.png") repeat-x scroll 0 0;
    position: absolute;
    height: 365px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}

#bg-tl {
    background: url("/images/bg-tl.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 463px;
    height: 287px;
}

#bg-bl {
    background: url("/images/bg-bl.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 497px;
    height: 255px;
}

#bg-tr {
    background: url("/images/bg-tr.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 251px;
    height: 363px;
}

#bg-br {
    background: url("/images/bg-br.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 251px;
    height: 126px;
}

#login-page {
    font-family: sans-serif;
    font-size: small;
}

#login-page input[type="text"], input[type="password"] {
    background: url(/images/input-bkg.png) no-repeat transparent;
    padding: 0 10px;
    border: none;
    height: 35px;
    width: 183px;
}

.x-border-top {
    border-top: 1px solid #99BBE8 !important;
}

.x-border-bottom {
    border-bottom: 1px solid #99BBE8 !important;
}

.x-border-left {
    border-left: 1px solid #99BBE8 !important;
}

.x-border-right {
    border-right: 1px solid #99BBE8 !important;
}

.x-portal-body {
    padding: 0 0 0 8px;
    border: none;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom: 10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}